html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    width: 100%;
    height: 1500px;
    background-color: #002244; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    font-family: Arial, sans-serif; 
    padding-top: -1000px;
    justify-content: flex-start;
}

  .top h1 {
    padding-top: 500px;
    font-size: 5rem;
    margin: 0;
    padding-right: 300px;
}
.top h2 {
    margin-top: 10px;
    width: 80%; 
    max-width: 800px; 
    padding: 10px 15px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;

}
.bottom{
    width: 100%;
    height: 1000px;
    background-color: white; 

}